<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=o, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="main.css">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid">
        <!-- naverbar -->
        <div class="row bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <!-- icon -->
                            <div class="col bg-warning">
                                <img src="" alt="icon-logo">
                            </div>
                            <!-- search -->
                            <div class="col"></div>
                            <!-- login -->
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <!-- became a seller -->
                            <div class="col"></div>
                            <!-- more -->
                            <div class="col"></div>
                            <!-- cart -->
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <!-- product detail -->
        <div class="container-fluid">
        </div>

        <!-- product-banner -->
        <div class="container">
            
        </div>

        <!-- product -->
        <div class="container">
            
        </div>

        <!-- advertisement -->
        <div class="container">

        </div>

        <!-- footer -->
        <div class="container-fluid">
            
        </div>
    </div>
    
</body>
</html>